<div class="c-fiip-card">

  <div class="c-fiip-card__card">
    <div class="c-fiip-card__card--front"><img src="{{ imgPath 'card1.png' }}" alt="咖啡豆"></div>
    <div class="c-fiip-card__card--back"><img src="{{ imgPath 'card_back.png' }}" alt="封面"></div>
  </div>

  <div class="c-fiip-card__card">
    <div class="c-fiip-card__card--front"><img src="{{ imgPath 'card2.png' }}" alt="濾掛式咖啡"></div>
    <div class="c-fiip-card__card--back"><img src="{{ imgPath 'card_back.png' }}" alt="封面"></div>
  </div>

  <div class="c-fiip-card__card">
    <div class="c-fiip-card__card--front"><img src="{{ imgPath 'card3.png' }}" alt="磨豆機"></div>
    <div class="c-fiip-card__card--back"><img src="{{ imgPath 'card_back.png' }}" alt="封面"></div>
  </div>

  <div class="c-fiip-card__card">
    <div class="c-fiip-card__card--front"><img src="{{ imgPath 'card4.png' }}" alt="調咖啡"></div>
    <div class="c-fiip-card__card--back"><img src="{{ imgPath 'card_back.png' }}" alt="封面"></div>
  </div>

  <div class="c-fiip-card__card">
    <div class="c-fiip-card__card--front"><img src="{{ imgPath 'card5.png' }}" alt="壺具"></div>
    <div class="c-fiip-card__card--back"><img src="{{ imgPath 'card_back.png' }}" alt="封面"></div>
  </div>

  <div class="c-fiip-card__card">
    <div class="c-fiip-card__card--front"><img src="{{ imgPath 'card6.png' }}" alt="咖啡"></div>
    <div class="c-fiip-card__card--back"><img src="{{ imgPath 'card_back.png' }}" alt="封面"></div>
  </div>

</div>
